priority -100

###########################################################################
#                            TextMate Snippets                            #
###########################################################################

snippet flex ""
display: flex;
flex-flow: column;
justify-content: center;
align-items: center;
endsnippet

snippet abs ""
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
endsnippet


# vim:ft=snippets:
