priority -100

###########################################################################
#                            TextMate Snippets                            #
###########################################################################

snippet testdbg ""
println("wait")
os.ReadFile("/dev/fd/7")
println("ok")
endsnippet


# vim:ft=snippets:
