priority -100

###########################################################################
#                            TextMate Snippets                            #
###########################################################################

snippet flex ""
display: flex;
flex-flow: column;
justify-content: center;
align-items: center;
endsnippet


# vim:ft=snippets:
